body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}
.zad1{
    color: white;
    text-align: center;
    background-color: tomato;
    font-style: italic;
}
.zad2{
    color: black;
    text-align: center;
    background-color: white;
    font-style: normal;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}
.zad3{
    color: white;
    text-align: center;
    background-color: black;
    font-style: normal;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}
.zad4{
    color: white;
    text-align: center;
    background-color: blue;
    font-style: oblique;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}
.zad5{
    color: blueviolet;
    text-align: center;
    background-color: red;
    font-style: oblique;
    font-size: 45px;
    font-family: "Arial";
}
.zad6{
    color: rgb(37, 148, 199);
    text-align: center;
    background-color: rgb(209, 32, 130);
    font-style: normal;
    font-size: 35px;
    font-family: "Impact";
}
p {
    font-family: verdana;
    font-size: 20px;
}
p.one {
    text-align: right;
    border-style: solid;
    border-width: 2px;
}
p.two {
    text-align: left;
    border-style: double;
    border-width: 2;
}
/* unvisited link */
a.one:link {
    color: red;
    text-decoration: underline;
}

/* visited link */
a.one:visited {
    color: green;
    text-decoration: none;
}

/* mouse over link */
a.one:hover {
    color: hotpink;
    text-decoration: underline;
}

/* selected link */
a.one:active {
    color: blue;
    text-decoration: underline;
}
a.three:link, a.three:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a.three:hover, a.three:active {
    background-color: red;
    text-align: center; 
}

a.four:link {
    background-color: #f44336;
    color: white;
    padding: 20px 45px;
    text-align: center; 
    text-decoration: underline;
    display: inline-block;
    
}
a.four:visited {
    background-color: #e7f436;
    color: rgb(8, 8, 8);
    padding: 20px 45px;
    text-align: right; 
    text-decoration: underline;
    display: inline-block;
}

a.four:hover, a.four:active {
    background-color: red;
    text-decoration: underline;
}

a.fifth:link, a.fifth:visited {
    background-color: #fcf8f8;
    color: rgb(14, 1, 1);
    padding: 14px 45px;
    text-decoration: none;
    display: inline-block;
}

a.fifth:hover, a.fifth:active {
    background-color: rgb(47, 30, 148);
}
ul.sp1 {
    list-style-type: upper-roman;
    background: #3399ff;
    padding: 40px;
}
ul.sp1 li {
    background: #cce5ff;
    margin: 20px;
}

ol.sp2 {
    list-style: square inside url("lol.png");
    background: #ff9999;
    padding: 40px;
    
}
ol.sp2 li {
    background: #ffe5e5;
    margin-left: 5px;
}
img.img1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.img2 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(73, 56, 56, 0.2), 0 6px 50px 0 rgba(73, 56, 56, 0.2);
}





