body {
    background-color: silver;
    margin: 0;
    padding: 0;
    font-family: 'Poor Story', cursive;
}

p{
    color: black !important;
}

h1{
    
    padding-top:40px;
    font-size: 50px;
    text-align: center;
    color: Black;
}

/*navbar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none; 
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}
li.butleft{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

@media screen and (max-width: 600px){

    /*navbar*/
    
    ul{
        position: relative;
    }
    li {
        float: none;
        
    }

    li.butleft {
        float: none;
        display: block;
        
    }

    li a{
        float: none;
        display: block;
        
    }

    
   

   /* Screens */

   .all_screens{                    
       flex-direction: column;
       margin: auto;
   }
   .all_screens .photo img{
       width: 100%;
   }

   /* About */ 
   .about{
       flex-direction: column;
       margin: auto;
   }

   /* Rules */ 
   .all_rules, .a2ll_rules{                    
       flex-direction: column;
       margin: auto;
   }

}
     

 /* Screens */
 
.all_screens{
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    display: flex;
    
}

.all_screens .photo{
    
    margin: auto; 
}




/* Rules */ 

.all_rules{
    overflow: hidden;
    display: flex;
}

.a2ll_rules {
    width: 100%;
    margin: auto;
    display: center;
}

._rules{
    margin: 0% 10% 0% 10%; 
}

p{
    
    font-size: 30px;
    text-align: left;
    color: white;
}
 


/* About */ 

.info  {
    
    font-size: 30px;
    text-align: left;
    color: white;
    text-decoration: none;
   
}
.about{
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    display: flex;
}

.about .me, .info{
    margin: 1% 5% 5% 10%; 
}


footer{
    background-color: white;
    margin: 0% 0% -10% 0%;
}